version: "3.8"

services:
  opensearch:
    image: opensearchproject/opensearch:2.15.0
    environment:
      - cluster.name=opensearch-cluster
      - discovery.type=single-node
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - plugins.security.disabled=true
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=StrongP@ssw0rd!
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - "9200:9200"
      - "9600:9600"

  opensearch-init:
    image: opensearchproject/opensearch:2.15.0
    depends_on:
      - opensearch
    volumes:
      - ./opensearch/init.sh:/init/init.sh
      - ./opensearch/index_template.json:/init/index_template.json
      - ./opensearch/ilm_policy.json:/init/ilm_policy.json
    entrypoint: ["/bin/sh", "/init/init.sh"]

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.15.0
    environment:
      OPENSEARCH_HOSTS: '["http://opensearch:9200"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: "true"
      OPENSEARCH_DASHBOARDS_DEFAULT_APP_ID: "discover"
      OPENSEARCH_SECURITY_DISABLED: "true"
    ports:
      - "5601:5601"
    depends_on:
      - opensearch

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - OPENSEARCH_HOST=opensearch
      - OPENSEARCH_PORT=9200
      - SECRET_KEY=changemeverystrongsecret
    depends_on:
      - opensearch

volumes:
  opensearch-data:
